<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <form [formGroup]="clientForm" (ngSubmit)="searchClient()">

            <div class="text-center">
                <h3>Client</h3>
            </div>

            <!--Client id-->
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-person-badge-fill" [class.green-icon]="this.clientForm.get('clientId')?.valid"
                        [class.red-icon]="this.clientForm.get('clientId')?.invalid && this.clientForm.get('clientId')?.touched"></i>
                </span>
                <input formControlName="clientId" type="text" class="form-control" placeholder="Client Id">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>

        <div *ngIf="client.clientId != ''">
            <p><strong>Name:</strong> {{client.cName}}</p>

            <button *ngIf="invoice.invoiceId == 0" (click)="createInvoice()" class="btn btn-primary">Create new invoice</button>
            <button *ngIf="invoice.invoiceId != 0" (click)="discardInvoice()" class="btn btn-primary">Discard invoice</button>
        </div>
    </div>
</div>

<div *ngIf="invoice.invoiceId != 0" class="card mt-2">
    <div class="card-body">
        <div class="text-center">
            <h3>Products</h3>
        </div>
        <div *ngIf="productList.length != 0" class="table-responsive">
            <table class="table table-striped">
                <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Sub Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!--
                    <tr *ngFor="let product of productList">
                        <td>{{ product.pName }}</td>
                        <td>{{ client.cName }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.cAddress }}</td>
                        <td>
                            <i (click)="editClient(client)" class="hand bi bi-pencil-square text-info"></i>
                        </td>
                        <td>
                            <i (click)="deleteClient(client.clientId)" class="hand bi bi-trash3-fill text-danger"></i>
                        </td>
                    </tr>
                    -->
                </tbody>
            </table>
        </div>
    </div>
</div>