<p>clients-component works!</p>
<div class="card">
    <div class="row text-center mt-2">
        <h3>{{ action }} client</h3>
    </div>

    <div class="row m-2 pb-2">
        <form [formGroup]="form" (ngSubmit)="saveClient()">
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-person-badge-fill" [class.green-icon]="this.form.get('clientId')?.valid"
                        [class.red-icon]="this.form.get('clientId')?.invalid && this.form.get('clientId')?.touched"></i>
                </span>
                <input formControlName="clientId" type="text" class="form-control" placeholder="Id">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-person-circle" [class.green-icon]="this.form.get('c_name')?.valid"
                        [class.red-icon]="this.form.get('c_name')?.invalid && this.form.get('c_name')?.touched"></i>
                </span>
                <input formControlName="c_name" type="text" class="form-control" placeholder="Name">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-telephone-fill" [class.green-icon]="this.form.get('phone')?.valid"
                        [class.red-icon]="this.form.get('phone')?.invalid && this.form.get('phone')?.touched"></i>
                </span>
                <input formControlName="phone" type="text" class="form-control" placeholder="Phone">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-geo-alt-fill" [class.green-icon]="this.form.get('c_address')?.valid"
                        [class.red-icon]="this.form.get('c_address')?.invalid && this.form.get('c_address')?.touched"></i>
                </span>
                <input formControlName="c_address" type="text" class="form-control" placeholder="Address">
            </div>

            <button type="submit" class="btn btn-primary col-12 mb-2" [disabled]="this.form.invalid">
                <i class="bi bi-check2-circle"></i> Save
            </button>

            <button *ngIf="editMode" (click)="cancelEdit()" class="btn btn-danger col-12">
                <i class="bi bi-x-circle"></i> Cancel
            </button>
        </form>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <div class="row text-center">
            <h3>Client list</h3>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Phone</td>
                        <td>Address</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clientList; let i = index">
                        <td>{{ client.clientId }}</td>
                        <td>{{ client.cName }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.cAddress }}</td>
                        <td>
                            <i (click)="editClient(client)" class="hand bi bi-pencil-square text-info"></i>
                        </td>
                        <td>
                            <i (click)="deleteClient(i)" class="hand bi bi-trash3-fill text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>